* {
  background-color: #f7f0f0;
  font-family: "Andale Mono", courier, monospace;
  margin: 0;
  padding: 0;
}

.calc-container {
  background-color: #283044;
  border-radius: 20px;
  height: 550px;
  margin: 50px auto;
  width: 400px;
}
